.color{
    color: red;
    font-size: 40px;

}
.back{
    background-color: yellowgreen;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.new{
text-decoration: underline;
}