body {
  background: #f0f4f8;
  font-family: Arial, sans-serif;
}

.container {
  width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin: 12px 0 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
textarea,
select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  font-size: 14px;
}

.btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #0056b3;
}

.container-box {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  display: none ;
}

.container-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-size: 24px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  
}

.details .infor {
  font-size: 16px;
  margin-bottom: 15px;
  color: #444;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.details .infor span {
  font-weight: 600;
  color: black;
  max-width: 60%;
  text-align: right;
  word-wrap: break-word;
}

