body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color: #333;
}
.container {
    width: 450px;
    height: 350px;
    margin: 150px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 40px;
}
.container h1 {
    text-align: center;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input{
    display: flex;
    gap: 10px;

    align-items: center;
}

input{
    width: 50%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#result1{
    display: none;
    font-size: 16px;
    font-style: bold;
    color: #f83939;
    text-align: center;
}
#bmical{
    background-color: #f83939;
    color: white;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;

    &:hover{
        background-color: #ff0707;
        box-shadow: 5px 0 10px rgba(241, 39, 39, 0.5);
    }
}

#result{
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}