*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family:  Arial, sans-serif;
    background-color: #333;
    color: white;

}

#main{

    
    margin: 30px;
    width: 100%;
    height: 100%;
    margin: 30px;
    
}
form{
    border: 3px solid rgb(228, 228, 43);
    border-radius: 15px;
    padding: 20px 15px;
    width:fit-content;
}
input{
    display: block;
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 14px;
}
button{
    padding: 10px 20px;
    background-color: rgb(222, 43, 228);
    color: white;
    font-size: 1rem;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px dashed white ;
}
.card{
    display: inline-block;
    margin-top: 30px;
    max-width:300px;
    max-height:auto;
    border: 1px solid #857f7f;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 50px;
}
.profile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    margin-bottom: 10px;
    overflow:hidden;
}

h5,p{
    font-weight: 100;
        margin-bottom: 15px;

}

h3{
        margin-bottom: 4px;

}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#wrap{
    display:inline;
}