body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color: #333;
}
.container {
    width: 450px;
    height: 350px;
    margin: 150px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 40px;
}
.container h1 {
    text-align: left;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#meter{
    font-size: 14px;
    width: 80%;
    height: 20px;
    border-radius: 40px;
    padding:   10px;
    margin-left: 20px;
    overflow: hidden;
    margin-top: 20px;
    border: .5px solid #ccc;
}
#meter:focus {
    outline: none;
    border: 1px solid #0c0c0c;
}

#convert{
    background-color: darkviolet;
    color: white;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;

    &:hover{
        background-color: #5a2d8c;
    }
}

#result{
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}