*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    

}

body{
        background-color: #e5e5e5;

}
.main {
    background-color: #e5e5e5;
    padding: 40px 60px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: end; */
    gap: 30px;
}

.after{
    width: 400px;
    height: auto;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.15)  ;
    padding: 18px 24px 22px 22px;
    gap: 14px 18px;
}
.top-after{
    display: flex;
    flex-direction: row;
    gap: 14px 18px;
}
#after-img{
    width: 58px;
    height: 58px;
    object-fit: cover;
    border: 2px solid #ffff;
    border-radius: 10px;
}
.top-bottom{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    align-items: center;
    margin-top: 10px;
    
}
.top-bottom h1{
    font-weight: 600;
    font-size: 18px;
    color: #111827;
    line-height: 1.2;
    margin-bottom: 2px;
    
}
.top-bottom p{
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    line-height: 1.2;
}
.center-after{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #4b5563;
    margin-top: 8px;
    margin-bottom: 14px;
}

.column-parernt{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.column-1 ,.column-2{
    border-right: 1px solid #a8a8a8;
    padding-right: 35px;
    padding-left: 0px;
}
.star{
    color: rgb(255, 187, 0);
}

.column-1 h1,
.column-2 h1,
.column-3 h1 {
    font-size: 12px;
    font-weight: 500;
    color: #9ca3af;}

.column-1 p,
.column-2 p,
.column-3 p {
    font-size: 14px;
    font-weight: 600;
    color: #111827;
}

.button{
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.button button{
    height: 44px;
    min-width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;

}
.message{
     background-color: #f3f4f6;
    color: #111827;
    border: 1px solid #e5e7eb;
        &:hover{
            background-color: #e5e7eb;
            border-color: #d1d5db;
            cursor: pointer;
        }
}
.follow{
    background-color: #111827;
    color: #ffff;
    border: none;
        &:hover{
            background-color: #020617;
            translate: 0px -2px;
            box-shadow: 0 10px 25px rgba(15, 23, 42, 0.25);
            cursor: pointer;
        }
}

/* before container */
.before{
    width: 340px;;
    height: auto;
    background-color: #ffff;
    border-radius: 26px;
    box-shadow: 0 10px 25px rgba(15, 23, 42, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#before-img{
    width: 100%;
    height: 290px;
    border-radius: 30px;
    /* object-fit:cover; */
    background-size: cover;
}
.profile-title{
    margin-top: 12px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #111827;
}
.role-location{
    font-size: 14px;
    font-weight: 500;
    color: #6b7280;
    margin-top: 6px;
}
.details{
    font-size: 13px;
    line-height: 1.6;
    color: #4b5563;
    margin-top: 10px;
    margin-bottom: 16px;

}

.task h5{
    font-size: 14px;
    color: #9ca3af;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.task span{
    font-size: 15px;
    color: #111827;
}
.star{
    color: yellow;
}
.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    gap: 5px;

}
.btn-1{
    
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    background-color: #f3f4f6;
    color: #111827;
    border: 1px solid #e5e7eb;
        border-radius: 10px;
        &:hover{
            background-color: #e5e7eb;
            border-color: #d1d5db;
            cursor: pointer;
        }
}
.btn-2{
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    background-color: #111827;
    color: #ffff;
    border: none;
        border-radius: 10px;

        &:hover{
            background-color: #020617;
            translate: 0px -2px;
            box-shadow: 0 10px 25px rgba(15, 23, 42, 0.25);
            cursor: pointer;
        }
}

i{
    color: rgb(255, 154, 3);
}
.heading{
    position: relative;
    top:5%;
    left: 45%;
}
.head-before{
    position: relative;
    bottom: -3%;
    left: 38%;
}

/* Banner */
.banner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.container{
    width: 70%;
    height: 400px;
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.15)  ;
    text-align: center;
    flex-direction: column;
}
.output{
    font-size: 24px;
    font-weight: 700;
    color: #f5290e;
    margin-top: 152px;
    padding: 0px 54px;
}
.back{
    margin-top: 24px;
    padding: 18px 24px;
    border-radius: 12px;
    background-color: #020617;
    color: #f3f4f6;
    font-size: 16px;
    font-weight:500;
}
.fas{
    padding-left: 10px;
}

/* Header */
.header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #020617;
    font-size: 18px;
    font-weight: 700;
}