*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.main {
    background-color: #e5e5e5;
    padding: 40px 60px;
    width: 100%;
    min-height: 100vh;
}

.after{
    width: 400px;
    min-height: 200px;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.15)  ;
    padding: 18px 24px 22px 22px;
    gap: 14px 18px;
}
.top-after{
    display: flex;
    flex-direction: row;
    gap: 14px 18px;
}
.img{
    width: 58px;
    height: 58px;
    object-fit: cover;
    border: 2px solid #ffff;
    border-radius: 10px;
}
.top-bottom{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    align-items: center;
    margin-top: 10px;
    
}
.top-bottom h1{
    font-weight: 600;
    font-size: 18px;
    color: #111827;
    line-height: 1.2;
    margin-bottom: 2px;
    
}
.top-bottom p{
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    line-height: 1.2;
}
.center-after{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #4b5563;
    margin-top: 8px;
    margin-bottom: 14px;
}

.column-parernt{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.column-1 ,.column-2{
    border-right: 1px solid #a8a8a8;
    padding-right: 35px;
    padding-left: 0px;
}
.star{
    color: rgb(255, 187, 0);
}

.column-1 h1,
.column-2 h1,
.column-3 h1 {
    font-size: 12px;
    font-weight: 500;
    color: #9ca3af;}

.column-1 p,
.column-2 p,
.column-3 p {
    font-size: 14px;
    font-weight: 600;
    color: #111827;
}

.button{
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.button button{
    height: 44px;
    min-width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;

}
.message{
     background-color: #f3f4f6;
    color: #111827;
    border: 1px solid #e5e7eb;
        &:hover{
            background-color: #e5e7eb;
            border-color: #d1d5db;
            cursor: pointer;
        }
}
.follow{
    background-color: #111827;
    color: #ffff;
    border: none;
        &:hover{
            background-color: #020617;
            translate: 0px -2px;
            box-shadow: 0 10px 25px rgba(15, 23, 42, 0.25);
            cursor: pointer;
        }
}