*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif  ;
}
body {
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    max-width: 450px;
    height: 500px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
h1{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
    border-bottom: 1px solid #6034dbc0;
}
p {
    margin-bottom: 20px;
    color: #555;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    font-size: 1em;
    text-align: center;
    padding: 10px 20px;
    background-color: #6034dbc0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation: animation 0.5s ease-in-out;
}
@keyframes animation {
    0% {
        border: 1px solid #6034dbc0;
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

button:hover {
    background-color: #3f00ebc0;
    transition: background-color 0.3s ease;
}
#pdf-viewer {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: auto;
    position: relative;
}